Package: htop-dbgsym
Package-Type: ddeb
Source: htop
Version: 2.2.2-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daniel Lange <DLange@debian.org>
Installed-Size: 342
Depends: htop (= 2.2.2-2)
Section: debug
Priority: optional
Description: debug symbols for htop
Build-Ids: abfab008c9d685503addb91960b7f8b059f9f5c1
