Package: htop-dbgsym
Package-Type: ddeb
Source: htop
Version: 2.2.2-4
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daniel Lange <DLange@debian.org>
Installed-Size: 366
Depends: htop (= 2.2.2-4)
Section: debug
Priority: optional
Description: debug symbols for htop
Build-Ids: c0afbb10999dad9244ba18910fae5adb9d4a7e67
