Package: htop-dbgsym
Package-Type: ddeb
Source: htop
Version: 2.2.2-2
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daniel Lange <DLange@debian.org>
Installed-Size: 342
Depends: htop (= 2.2.2-2)
Section: debug
Priority: optional
Description: debug symbols for htop
Build-Ids: 9b28789477e5161add07e5c02ad4016922a57d72
